<img src='../images/ga_logo_large.png' style="display: block; margin-left: auto; margin-right: auto;">

---
## Project 4: Stocks and Portfolios

---
### Problem Statement
Lorem ipsum...

---
### Data
Lorem ipsum...

---
### Consulted Sources
Lorem ipsum...

---
### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

---
### Read in the Data 

Source: https://github.com/ahsan084/Banking-Dataset

In [2]:
file_path = '../data/Stock_Data_Final.csv'
df = pd.read_csv(file_path)

In [3]:
df.head()

,v,vw,o,c,h,l,t,n,Symbol
0,119605127.0,233.6043,234.45,230.76,236.85,227.76,1729396800000,1743438,AAPL
1,358320463.0,230.2414,224.50,235.00,237.49,221.33,1728187200000,5563002,AAPL
2,411269719.0,227.1824,227.34,226.80,233.00,223.02,1726977600000,5835500,AAPL
3,737776128.0,223.8730,220.82,228.20,233.09,213.92,1725768000000,7473637,AAPL
4,374000504.0,225.6062,226.76,220.82,232.92,217.48,1724558400000,5682718,AAPL

In [4]:
df.shape

(26308, 9)

---
### Check for Missing Values

There are no missing values in this dataset.

In [5]:
df.isnull().sum()

v         0
vw        0
o         0
c         0
h         0
l         0
t         0
n         0
Symbol    0
dtype: int64

In [6]:
df.columns

Index(['v', 'vw', 'o', 'c', 'h', 'l', 't', 'n', 'Symbol'], dtype='object')

---
### Clean Columns 

The original dataset has letters representing different values. Let's change the column names so we can understand them better. 

* **trading_volume:** (v) The trading volume of the symbol in the given period of time. 
* **volume_weighted:** (vw) The volume weighted average price.
* **open_price:** (o) The open price for the symbol in the given period of time. 
*  **close_price:** (c) The close price for the symbol in the given period of time. 
*  **highest_price:** (h) The highest price for the symbol in the given period of time. 
*  **lowest_price:** (l) The lowest price for the symbol in the given period of time. 
*  **timestamp:** (t) The Unix Msec timestamp for the start of the aggregate window
* **transactions:** (n) The number of transactions in the aggregate window

In [7]:
# Dictionary of old column names to new column names 
new_columns = {
    'v': 'trading_volume', 
    'vw': 'volume_weighted', 
    'o': 'open_price',
    'c': 'close_price', 
    'h': 'highest_price',
    'l': 'lowest_price', 
    't': 'timestamp',
    'n': 'transactions'
}

In [8]:
clean_df = df.rename(columns = new_columns)

In [9]:
clean_df.head()

,trading_volume,volume_weighted,open_price,close_price,highest_price,lowest_price,timestamp,transactions,Symbol
0,119605127.0,233.6043,234.45,230.76,236.85,227.76,1729396800000,1743438,AAPL
1,358320463.0,230.2414,224.50,235.00,237.49,221.33,1728187200000,5563002,AAPL
2,411269719.0,227.1824,227.34,226.80,233.00,223.02,1726977600000,5835500,AAPL
3,737776128.0,223.8730,220.82,228.20,233.09,213.92,1725768000000,7473637,AAPL
4,374000504.0,225.6062,226.76,220.82,232.92,217.48,1724558400000,5682718,AAPL

---
### Feature Engineering

We want to create new variables that better capture patterns within our dataset and align with clustering stock data. 

* **price_range:** (highest_price - lowest_price) to understand the stock's price movement in a period
* **volatility:** (close_price - open_price) to calculate volatility. Higher volatility means greater price swings and are associated with higher risk investments. Lower volatility alludes to more stable stocks but may offer lower returns.
* **price_change_percentage:** (((close_price - open_price)/ open_price) * 100) to see the percentage of change from open to close price

In [10]:
# Stock's price range
clean_df['price_range'] = clean_df['highest_price'] - clean_df['lowest_price']

In [11]:
# Stock's volatility
clean_df['volatility'] = abs(clean_df['close_price'] - clean_df['open_price'])

In [12]:
# Price change
clean_df['price_change_percentage'] = ((clean_df['close_price'] - clean_df['open_price'])/ clean_df['open_price']) * 100

---
### Ensure Data Types are Correct

In [13]:
clean_df.dtypes

trading_volume             float64
volume_weighted            float64
open_price                 float64
close_price                float64
highest_price              float64
lowest_price               float64
timestamp                    int64
transactions                 int64
Symbol                      object
price_range                float64
volatility                 float64
price_change_percentage    float64
dtype: object

In [14]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26308 entries, 0 to 26307
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trading_volume           26308 non-null  float64
 1   volume_weighted          26308 non-null  float64
 2   open_price               26308 non-null  float64
 3   close_price              26308 non-null  float64
 4   highest_price            26308 non-null  float64
 5   lowest_price             26308 non-null  float64
 6   timestamp                26308 non-null  int64
 7   transactions             26308 non-null  int64
 8   Symbol                   26308 non-null  object
 9   price_range              26308 non-null  float64
 10  volatility               26308 non-null  float64
 11  price_change_percentage  26308 non-null  float64
dtypes: float64(9), int64(2), object(1)
memory usage: 2.4+ MB

---
### Save Cleaned DataFrame as .csv

In [15]:
output_path = '../data/clean_data/stocks-clean-data.csv'
clean_df.to_csv(output_path)